html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  /*background-color: #212121;*/
}

h1 {
  cursor: default;
}

footer.page-footer {
  margin: 0;
  padding-top: 5%;
  background-color: #212121;
}

form {
  padding: 5%;
}

.black-text {
  color: black;
}

.blacked {
  background-color: #212121;
}

.blacked.blacked-container {
  padding-top: 10%;
  padding-bottom: 10%;
}

.carousel-item {
  height: 100;
}

.case-card {
  padding-top: 3%;
  padding-bottom: 3%;
}

.clockable-cursor {
  cursor: pointer;
}

.container {
  height: 100%;
  background-color: inherit;
}

.container-row {
  padding-top: 5%;
  padding-bottom: 5%;
}

.full-size {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.inverted-color {
  filter: invert(1);
  min-width: 35%;
  min-height: 35%;
  max-width: 50%;
  max-height: 50%;
}

.not-displayed {
  display: none;
}

.not-visible {
  opacity: 0;
}

.padded-top {
  padding-top: 10%;
}

.padded {
  padding-top: 3%;
  padding-bottom: 10%;
}

.row {
  background-color: inherit;
  margin: 0;
}

.valign-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.valign-item {
  max-width: 50%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.white-text {
  color: white;
}

#badge {
  padding-top: 20%;
  padding-bottom: 20%;
}

#carousel-item1 {
  background: url("../img/3.jpg") 0 0 no-repeat fixed;
  background-size: cover;
}

#carousel1 {
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  background-color: rgba(244, 67, 54, 0.65);
  z-index: 2;
}

#carousel-item2 {
  background: url("../img/4.jpg") 0 0 no-repeat fixed;
  background-size: cover;
}

#carousel2 {
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  background-color: rgba(255, 193, 7, 0.65);
  z-index: 2;
}

#carousel-item3 {
  background: url("../img/5.jpg") 0 0 no-repeat fixed;
  background-size: cover;
}

#carousel3 {
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  background-color: rgba(0, 188, 212, 0.65);
  z-index: 2;
}

#case {
  background-color: none;
}

#contacts {
  padding-top: 15%;
  padding-bottom: 15%;
  min-height: 40%;
}

#first-step {

  /*background-image: url("/home/jpyatachkov/OpenDoors/landing/img/1.png");
  background-repeat: no-repeat;*/
}

#first-tip {
}

#name {
  cursor: default;
}

#onload-container {
  position: absolute;

  margin: inherit;
  padding: inherit;

  background-color: black;

  opacity: 1;

  z-index: 999;
}

#onload-container-img {
  position: absolute;
  background-image: url("../img/0.png");
  background-size: 100%;
  z-index: 0;
}

#page-content {
  position: relative;
  height: 100%;
  width: 100%;
}

#technologies {
  padding-top: 50px;
  padding-bottom: 50px;
}

#tips {
  padding-bottom: 10%;
}

#title {
  cursor: default;
}

#tour {
  position: absolute;
  top: 45%;
  z-index: 9999;
  cursor: pointer;
}
